.custom-shape-divider-top-1717175539 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1717175539 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 275px;
}

.custom-shape-divider-top-1717175539 .shape-fill {
    fill: #0039A6;
}